---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Nolist from '~/components/widgets/Nolist.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'About The Privacy Pro',
};
---
<Layout metadata={metadata}>

<!--HERO -->

<HeroText
    tagline="About The Privacy Pro"
    title="Essential training, tools, and support for privacy professionals to turn knowledge into action."
    subtitle="Boutique consultancy specializing in privacy and data policy for B2B SaaS, fintech, and consumer technology companies. "
/>

<!-- SERVICES -->

<Steps
  id="services"
  tagline="Services"
  subtitle="We help you simplify, prioritize, and execute."
  isReversed={false}    
  image={{
    src: '~/assets/images/context.png',
    alt: '',
  }}
  items={[
     {
      title: 'Privacy Maturity',
      description: 'Going from managed to optimized often means simplifying to make room for what matters. If you’re tired of debating cookie-banner wording, you need well-defined governance, a clear risk appetite, and strong guardrails.',
      icon: 'tabler:stairs-up',
    },
   {
      title: 'Data Process Mapping',
      description: 'Our proprietary Data Process Mapping for Privacy helps you understand how data is used and moves in contexts. It goes beyond inventories and diagrams to support informed decision making.',
      icon: 'tabler:route',
    },
    {
      title: 'The Privacy Roadmap™',
      description: 'The Privacy Roadmap™ is a practical action plan to get from where you are to where you want to be, with specific, prioritized steps to meet risk-management and compliance goals.',
      icon: 'tabler:map-2',
    },    
  ]}
>

    <Fragment slot="title">
        <span class="text-primary dark:text-white">
          Privacy done differently:<br></span>
         less noise, more results.
    </Fragment>


</Steps>


<!-- CLIENTS -->

<Steps
  id="clients"
  tagline="Clients"
  title="We help privacy leaders navigate business challenges, and vice versa."
  subtitle="Understanding privacy laws and regulations is the easy part. The real work lies in dealing with competing priorities, working with incomplete information, and facing no-win situations. We don't try to eliminate those challenges, we help you handle them with grace and efficiency."
  isReversed={true}    
  image={{
    src: '~/assets/images/meeting3.png',
    alt: '',
  }}
  items={[
    {
      title: 'Privacy Leaders',
      description: 'In-house Privacy Professionals (CPOs, Privacy Counsel, Product Counsel) who know that an outside perspective is helpful when navigating change.',
      icon: 'tabler:ampersand',
    },
    {
      title: 'Boards and Executives',
      description: 'Boards and executive leadership teams who are looking for candid, pragmatic advice about what is actually worth stressing about when it comes to privacy.',
      icon: 'tabler:ampersand',
    },

  ]}
/>

<!-- CTA -->

  <div class="bg-blue-50 py-5">
  <CallToAction
    id="cta"
    tagline="Let's get started"
    title="Build real skills. Drive real decisions."
    subtitle="We can help you become a business-savvy privacy pro."
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: '/contact',
        target: '_self',
        icon: 'tabler:arrow-right',
      },
    ]}
  />
</div>


<!-- LAUREN -->

<Nolist
  id="lauren"
  tagline="Founder & CEO"
  title="Lauren Reid"
  subtitle="Lauren founded The Privacy Pro in 2016 because she wanted to work on cool projects with cool people—and she’s still doing exactly that."
  isReversed={true}    
  actions={[
        {variant: 'primary', target: '_blank', text: 'Download Lauren’s Bio and CV', href: 'https://docs.google.com/document/d/1IZdvW553QBYx5Fs8U2GGi_dEKLwO2rp2gXzAMfXAzZ0/edit?usp=sharing', icon:'tabler:download'},  
        ]}  
  image={{
    src: '~/assets/images/LaurenReid.png',
    alt: 'Lauren Reid, Founder & CEO of The Privacy Pro',
  }}
  items={[
    {
      description: 'She is a globally recognized expert in privacy, risk management, and data governance with a track record of helping organizations navigate change while aligning regulatory strategy with business growth.',
    },
    {
      description: 'For two decades, Lauren has helped companies make smart, practical decisions about data and risk. Her career spans senior roles across consulting, industry, and startups: leading the privacy advisory services practice at KPMG, shaping privacy and ethics at BMO, pioneering privacy software as a product owner at Nymity, and heading data governance at Sidewalk Labs.',
    },
    {
      description: 'She is also a frequent speaker at privacy and tech policy events, an active contributor to global think tanks including the Information Accountability Foundation, Future of Privacy Forum, and CIPL, and a community leader with Women in AI Governance, Queers in AI Governance, and the PICCASO Awards Canada.',
    },
  ]}
>

</Nolist>

<!-- VALUES -->

  <Features2
    id="values"
    tagline="Values"
    title="How we work"
    subtitle="What you can count on from us—and what we look for in return."  
    columns={2}
    items={[
     {
        title: 'Respect',
        description: 'We value everyone and treat people with dignity and professionalism.<br><br>We honour each other’s time, boundaries, and ideas.<br><br>We have a strict ‘no assholes’ policy.',
        icon: 'tabler:heart',
        classes: {
          icon: 'mx-auto text-accent',
          title: 'text-center text-primary',
          description: '',
          },
      },
     {
        title: 'Integrity',
        description: 'We build trust through responsible actions and honest relationships.<br><br>We admit when we make mistakes, and when we don’t know the answer.<br><br>We don’t sell services that clients don’t need.',
        icon: 'tabler:compass',
        classes: {
          icon: 'mx-auto text-accent',
          title: 'text-center text-primary',
          description: '',
          },
      },  
     {
        title: 'Collaboration',
        description: 'We treat others as colleagues, not competition.<br><br>We believe there is plenty of success to go around, and that relationships are more important than revenue.<br><br>We treat conflict as an opportunity to strengthen outcomes.',
        icon: 'tabler:puzzle',
        classes: {
          icon: 'mx-auto text-accent',
          title: 'text-center text-primary',
          description: '',
          },
      },  
     {
        title: 'Community',
        description: 'We use our privilege to meaningfully support causes we believe in without being performative.<br><br>We make time for pro-bono work, mentorship, or advocacy.<br><br>We work to improve the diversity, equity and inclusiveness of our team and the privacy profession overall.',
        icon: 'tabler:world-heart',
        classes: {
          icon: 'mx-auto text-accent',
          title: 'text-center text-primary',
          description: '',
          },
      },                          
    ]} />
 
<!-- FAQs -->

<FAQs 
  id="faq"
  tagline="FAQ"
  title="Frequently Asked Questions"
  subtitle=""
  columns={1}
  items={[
    {
      title: "What types of companies does The Privacy Pro work with?",
      description: "We work with private sector companies and non-profit organizations of all stages and sizes. We do not work with government or healthcare institutions or providers.",
    },
    {
      title: "Where is The Privacy Pro based?",
      description: "Portland, Oregon, USA",
    },
    {
      title: "Is The Privacy Pro a law firm?",
      description: "No. We have lawyers on our team but we are not a law firm and we don’t provide legal advice.",
    },
    {
      title: "Are there privacy consulting services The Privacy Pro does not offer?",
      description: "We are no longer providing large-scale privacy program implementations, compliance assessments, audits, software implementation, or cybersecurity services. We have a network of independent consultants and specialists who do provide these services, so please get in touch if you would like a referral. We do not provide loan staff, fill temporary positions, or offer white label consulting.",
    },
    {
      title: "What is The Privacy Pro Academy?",
      description: "We launched The Privacy Pro Academy in 2023 with workshops, certification training, individual and group courses. In 2025, we brought training back under The Privacy Pro brand. We are focusing on private training for privacy teams, rather than public (open-enrollment) privacy training.",
    },
    {
      title: "Does The Privacy Pro offer IAPP Certification courses?",
      description: 'No, not anymore. We recommend checking the <a href="https://instituteofprivacydesign.org/" target="_blank" class="text-primary hover:underline">Institute for Operational Privacy by Design</a>. Jason is a world class privacy professional working in the field and has wisdom and insights to add beyond the course curriculum.',
    },
    {
      title: "Is The Privacy Pro hiring?",
      description: "No, not at this time.",
    },
  ]}
/>




</Layout>