---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Nolist from '~/components/widgets/Nolist.astro';


const metadata = {
  title: 'The Privacy Pro - Essential training, tools, and support for privacy professionals to turn knowledge into action.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>


 <!-- TOP -->

  <HeroText
    id="top"
    subtitle="The Privacy Pro provides the essential tools, training, and support for privacy professionals to turn knowledge into action."
    tagline=""    
    columns={3}
  >
    <Fragment slot="title">
        Privacy is complex, but<br>
        <span class="text-secondary dark:text-white"> it doesn't have to be hard.</span>    
    </Fragment>
    
  </HeroText>


  <!-- PHILOSOPHY -->

  <Nolist
    id="philosophy"
    tagline="Philosophy"
    subtitle="We equip you with the tools, skills, and mindset to implement a privacy program that works for both privacy and the business."
    isReversed={true} 
    image={{
      src: '~/assets/images/business.png',
      alt: '',
    }}
   actions={[
        {variant: 'primary', target: '_self', text: 'Learn more about how we help', href: '/about#services', icon:'tabler:arrow-right'},  
        ]}  
    >
    <Fragment slot="title">
      Business objectives should drive the privacy strategy...<br><span class="text-primary dark:text-white"> not the other way around.</span>
    </Fragment>
    
  </Nolist>


<!-- CTA -->

  <div class="bg-blue-50 py-5">
  <CallToAction
    id="cta",
    tagline="Let's get started",
    title="Build real skills. Drive real decisions.",
    subtitle="We can help you become a business-savvy privacy pro.",
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: '/contact',
        target: '_self',
        icon: 'tabler:arrow-right',
      },
    ]}
  />
</div>

</Layout>