---
//import { SITE } from 'astrowind:config';
---

<a href="/" class="flex items-center gap-2 py-3">
<img 
  src="/tpplogo.svg" 
  alt="The Privacy Pro Logo" 
  class="h-[50px] md:h-[60px] lg:h-[70px] ml-0 pl-0 w-auto"
/>
</a>